*{
  padding: 0;
  margin: 0;
}
header{
  width: 100%;
  height: 150px;
}
h1 {
  text-align: center;
  color: white;
  cursor: default; 
  font-size: 35px;
}

li {
  display: inline;
}
p{
  font-size: 20px;
  text-align: center;
  text-align: left;

}
h2{
  font-size: 22px;
}
img{
  width: 500px;
  margin-right: 80%;
}
#nav {
  padding: 0; 
  text-align: center;
  text-decoration: none;
  font-size: 25px; 
}
#nav li {
  display: inline;
  list-style: none;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  border-radius: 8px;
  text-decoration: none; 
}
 /*header{
  position: fixed;
 }*/
#nav a {
    display: inline-block;
    margin: 0 30px;
    color: white;
    text-decoration: none;
}
.parallax {
  /* The image used */
  background-image: url("images/PlaceSD.jpg");
  /* Set a specific height */
  min-height: 500px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*.text{
height:1000px;
background-color:#FFFFFF;
font-size:36px;
}*/
/*img{
  width: 250px;
float: left;
}
*/
#conteneur{
  display: flex;
  /*justify-content: space-between;*/
  height: 150px;
}
.logo{
  width: 15%;
}
.logo img{
  width: 75px;
}
.titre{
  margin: auto;
  width: 70%;
}
.test{
  width: 15%;
}
/* REMOVE THIS, USE YOUR OWN  */
html,body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-serif;
  background-color: #070617;
}
.dummy_page {
  height: auto;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  box-sizing: border-box;
  padding: 50px 0px;
   
}
/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
  margin-top: 150px;
  
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 17px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(255,255,255,0.2);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: white;
  font-size: 15px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    } 
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

.image-ronde-bg{
  background-size : contain;
  background-position : 50% 50%; 
  background-image : url(placeSD.jpg);
  display : inline-block;
  width : 50px; height : 50px;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 100px;
}
.grid-item {
  padding: 50px;
  font-size: 10px;
  text-align: center;
  border: none;
}
.henry{
  width: 80px;
}




